.hero-section {
  padding: 118px 0;
  text-align: center;
  max-width: 1600px;
  

  @media screen and (min-width: 1200px) {
  padding: 200px 0;  
  }
}
@media screen and (max-width: 480px){
  .hero-img {
    margin-right: auto;
    margin-left: auto;
    max-width: 480px;
    height: 400px;
    background-repeat: no-repeat;
    background-color:  $hero-section-background;
    background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
       ),
       url(../../images/heropicture_mob.jpg);
    background-position: center;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .hero-img{
        background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
       ),
       url(../../images/heropicture_mob@x2.jpg);
    }}}
@media (min-width: 481px) and (max-width: 768px){
  .hero-img {
    max-width: 768px;
    height: 400px;
    background-repeat: no-repeat;
    background-color:  $hero-section-background;
    background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
       ),
       url(../../images/heropicture_tablet.jpg);
    background-position: center;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .hero-img{
        background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
       ),
       url(../../images/heropicture_tablet@x2.jpg);
    }}}
@media screen and (min-width: 769px){
.hero-img {
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-color:  $hero-section-background;
  background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
     ),
     url(../../images/heropicture_comp.jpg);
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-img{
      background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
     ),
     url(../../images/heropicture_comp@x2.jpg);
  }}}
.hero-section__title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1,62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:  $main-title-color;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1,36;
  }
  
}
.hero-section__button {
  @extend %button;
  padding: 10px 32px;
}