  // colors//
  $secondary-text-color: #757575;
  $primary-text-color: #212121;
  $current-color: #2196f3;
  $main-title-color: #ffffff;
  $addres-color: rgba(255, 255, 255, 0.6);
  $background: #2f303a;
  $second-background: #f5f4fa;
  $border: #eeeeee;
  $clients-picture-border: #afb1b8;
  $hero-section-background: #c4c4c4;

// time
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  

